@model ProyectoFinal_ParteAdmin.Models.CreateClienteViewModel

@{
    ViewData["Title"] = "Crear Cliente";
}

<h1>Crear Cliente</h1>

<div class="container">
    <form asp-action="Create" method="post" class="form-cliente">
        <div class="form-group">
            <label asp-for="IdUsuario"></label>
            <input asp-for="IdUsuario" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="IdCliente"></label>
            <input asp-for="IdCliente" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="Nombre"></label>
            <input asp-for="Nombre" class="form-control" />
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Correo"></label>
            <input asp-for="Correo" class="form-control" />
            <span asp-validation-for="Correo" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" type="password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Numero"></label>
            <input asp-for="Numero" class="form-control" />
            <span asp-validation-for="Numero" class="text-danger"></span>
        </div>
        <div class="form-group full-width">
            <button type="submit" class="btn btn-primary">Crear</button>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
